# Compiled python modules.
*.pyc

# fits images
*.fits

# old emacs copies
*.*~

# .ipynb files
notebooks/*.ipynb
.ipynb*

# spyder project
.spyderproject
.spyproject

# egg-info directory
*.egg-info

# directory old
old
build
dist

