/* Style sheet */
/* Background color (FFF7C0 is buttermilk, DCAE1D is honey, F2D388 is butter) */
/* Colors from https://designschool.canva.com/blog/website-color-schemes/ */
/* To work on MAC-OSX for QToolBar, one has to set the border to force the style on the system */
/* https://bugreports.qt.io/browse/QTBUG-12717 */
/* Qt documentation: http://doc.qt.io/qt-5/stylesheet-examples.html */
QMainWindow {
background-color: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 LemonChiffon, stop: 1 #F2D388);
}
QMenu {
background-color: #D8AB4E;
background: '#FFF6BA';
color: 'black';
}
QMenu::item {
background-color: transparent;   
}
QMenu::item:selected {
    border-color: darkblue;
    background: GoldenRod;
}
QMenuBar {
background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFF6BA, stop:1 #F2D388);
background: #F2D388;
color: 'black';
}
QMenuBar::item {
background: transparent;
spacing: 3px;
padding: 1px 4px;
border-radius: 4px;
}
QMenuBar::item:selected { /* when selected using mouse or keyboard */
background: #FFF6BA;
}
QMenuBar::item:pressed {
background: #DCAE1D;
}
QStatusBar {
background-color: #FFF6BA;
border: 1px solid black;
border-radius: 3px;
}
/* Toolbar */
QToolButton {		
height:	18px;
width: 18px;
}
QToolBar {
background-color: transparent;
border: 0px transparent;
}
QToolBar::separator{
background-color: transparent;
}
QToolButton:pressed {
background-color: LemonChiffon;
border-radius: 3px;
}
QToolButton:hover {
background-color: LemonChiffon;
border-radius: 3px;
}
QToolButton:focused {
background-color: LemonChiffon;
border-radius: 3px;
}
QToolButton:checked {
background-color: LemonChiffon;
border-radius: 3px;
}
QToolTip {
font-size: 10pt;
border: 1px solid black;
padding: 2px;
border-radius: 3px;
opacity: 200;
background-color: LemonChiffon;
}
QTabWidget {
background: khaki;
}
QTabWidget::tab-bar{
alignment: left;
}
QTabWidget::pane {
background: LemonChiffon;
padding: 0px;
}
QTabBar::tab {
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                        stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
border: 1px solid #C4C4C3;
border-bottom-color: khaki; /* same as the pane color */
border-top-left-radius: 4px;
border-top-right-radius: 4px;
min-width: 6ex;
padding: 2px;
}
QTabBar::tab:selected, QTabBar::tab:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
				stop: 0 #fafafa, stop: 0.4 #f4f4f4,
				stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
}
QTabBar::tab:selected {
border-color: #9B9B9B;
border-bottom-color: khaki; /* same as pane color */
}
QTabBar::tab:!selected {
margin-top: 2px; /* make non-selected tabs look smaller */
}
/* make use of negative margins for overlapping tabs */
QTabBar::tab:selected {
    /* expand/overlap to the left and right by 4px */
    margin-left: -4px;
    margin-right: -4px;
}
QTabBar::tab:first:selected {
margin-left: 0; /* the first selected tab has nothing to overlap with on the left */
}
QTabBar::tab:last:selected {
margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
}
QTabBar::tab:only-one {
    margin: 0; /* if there is only one tab, we don't want overlapping margins */
}
QComboBox {
    border: 1px transparent;
    border-radius: 3px;
    padding: 1px 2px 1px 3px;
    min-width: 32px;
    background-color: LemonChiffon;
}

QComboBox:editable {
    background: LemonChiffon;
}

QComboBox:!editable, QComboBox::drop-down:editable {
     background: transparent;
}

/* QComboBox gets the "on" state when the popup is open */
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background: transparent;
}

QComboBox:on { /* shift the text when the popup opens */
    padding-top: 3px;
    padding-left: 4px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;

    border-left-width: 1px;
    border-left-color: transparent;
    border-left-style: transparent; /* just a single line */
    border-top-right-radius: 3px; /* same radius as the QComboBox */
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
    image: url(:/images/combobox-arrow.png);
}

QComboBox::down-arrow:on { /* shift the arrow when popup is open */
    top: 1px;
    left: 1px;
}
QComboBox QAbstractItemView{
 	outline: none;
	min-width: 120px;
}
QListWidget::item {
    background-color: transparent;
}
QListWidget::item:selected {
    border-style: solid; 
    border-width:1px;
    border-color:black; 
    background-color: transparent;
}
